body{
    background-color: seagreen;
    color: black;
}
img{
    height: 250px;
    width: 300px;
    border-radius: 25px;
}
.header {
    background-color: steelblue;
    height: 50px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;

    font-size: xx-large;

    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
 }
.project1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 300px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    margin-right: 100px;
}
.image1 {
    margin-top: 250px;
}
.project2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 300px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}
.image2 {
    margin-top: 250px;
}
.project3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 300px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    margin-left: 100px;
}
.image3 {
    margin-top: 250px;
}
.Links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.home {
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.technical {
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.qualifications {
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.ai {
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}