body{
    background-color: slategray;
    color: black;
}
img{
    height: 225px;
    width: 225px;
    box-shadow: 5px 5px;
}
.header {
    background-color: turquoise;
    height: 50px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    transform: rotateX(70deg) rotateZ(45deg);
    line-height: 400px;
    text-align: center;

    font-size: xx-large;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin-left: 35%;
    margin-top: -75px;
    margin-bottom: -75px;
    font-stretch: ultra-condensed;
}
.header-text {
    display: flex;
    transform: rotateX(0deg) rotateZ(-45deg);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.all {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
}
.title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
 }
.project1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 750px;
    margin-left: -50px;
}
.description1 {
    background-color: skyblue;
    height: 225px;
    box-shadow: 5px 5px;
}
.project2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 300px;
}
.image2 {
    margin-top: 130px;
}
.diamond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    transform: rotateZ(45deg);
    height: 550px;
    width: 550px;
    margin-left: -52%;
    margin-top: 37%;
    box-shadow: 5px -5px;
}
.description2 {
    transform: rotateZ(-45deg);
    width: 450px;
    height: 450px;
}
.project3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 750px;
    margin-top: 179px;
    margin-left: -50px;
}
.description3 {
    background-color: skyblue;
    height: 225px;
    box-shadow: 5px 5px;
}
.Links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -15%;
}
.home {
    display: flex;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 5px 5px;
}
.technical {
    display: flex;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100px;
    box-shadow: 5px 5px;
}
.qualifications {
    display: flex;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100px;
    box-shadow: 5px 5px;
}
.ai {
    display: flex;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100px;
    box-shadow: 5px 5px;
}